{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	{% block extrahead%}
	{% endblock %}

	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/base.css'%}">

	<title>{% block head_title%}FSPV{% endblock %}</title>
</head>
<body>
	{% block header%}
	<div class="container">
	<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="nav-toggler collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Inicio</a>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li class="active"><a href="#">About Us<span class="sr-only">(current)</span></a></li>
				<li><a href="#">Blog</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Productos<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#">Productos</a></li>
						<li><a href="#">Clientes</a></li>
						<li><a href="#">Proveedores</a></li>
						<li><a href="#">Facturas</a></li>
					</ul>
				</li>
			</ul>
		<form class="navbar-form navbar-left">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Buscar">
			</div>
			<button type="submit" class="btn btn-default">Buscar</button>
		</form>
		<ul class="nav navbar-nav navbar-right">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Opciones<span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="#">Ingresar Producto</a></li>
					<li><a href="#">Ingresar Ciudad</a></li>
					<li><a href="#">Ingresar Proveedor</a></li>
					<li><a href="#">Ingresar Cliente</a></li>
				</ul>
			</li>
			<li><a href="#">Login</a></li>	
		</ul>
	</div>
	</nav>
	</div>
	{% endblock %}
	{% block content %}
	{% endblock %}
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
  	var js, fjs = d.getElementsByTagName(s)[0];
  	if (d.getElementById(id)) return;
  	js = d.createElement(s); js.id = id;
  	js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.9";
  	fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

	{% block footer%}
	<div class="container">
	</div>
	{% endblock%}

	<script src="http://code.jquery.com/jquery-2.2.4.min.js"
		integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" 
		crossorigin="anonymous">
	</script>

	<script src="{% static 'js/bootstrap.js'%}"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.6/marked.min.js"></script>
	<script type="text/javascript">
	$(document).ready(function(){
		$(".content-markdown").each(function(){
			var content = $(this).text()
			var markedContent = marked(content)
			$(this).html(markedContent)
		})
		$(".post-detail-item img").each(function(){
			$(this).addClass("img-responsive");
		})

		var contentInput = $("#id_content");


		function setContent(value){
			var markedContent = marked(value)
			$("#preview-content").html(markedContent)
			$("#preview-content img").each(function(){
				$(this).addClass("img-responsive")
			})
		}
		setContent(contentInput.val())

		contentInput.keyup(function(){
			var newContent = $(this).val()
			setContent(newContent)
		}) 
		 // var titleItem = $("#id_title");

		var titleInput = $("#id_title");
		function setTitle(value){
			$("#preview-title").text(value)
		}

		setTitle(titleInput.val())

		titleInput.keyup(function(){
			var newTitle = $(this).val()
			setTitle(newTitle)
		})
	</script>
	<script type="text/javascript">
		$(document).on('ready', constructor);

		function constructor(){
			calculaVenta();
		}
		function calculaVenta(){
			$('#contenido').on('keyup', '#id_precioCostoProducto', function(){
				var num = parseInt($('#id_precioCostoProducto').val());
				$('#id_precioVentaProducto').val(num*1.5);
			})
		}
	</script>

	{% block extrajs %}

	{% endblock %}
</body>


</html>